@model LibraryManagmentSystem.Models.Member

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

    </dl>
</div>
<div>
    <h1>Books Issued</h1>
    @foreach (var item in ViewBag.BooksIssued)
    {
        <li>
            @item
        </li>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) |
    @Html.ActionLink("Back to List", "Index") | 
    @Html.ActionLink("Issue Book", "Index", "IssueBooks", new { id = Model.MemberId },null)
</p>
